<!-- Welcome to creative Requests created by Fernando Wertt -->

<!DOCTYPE html>
<html ng-app="myrequest">
    <head>
      <script src="alert.js"></script>
      <!-- DATE -->
        <script Language="JavaScript">
            function setHour() {
              var hour = new Date()
              var hrs = hour.getHours();
              var min = hour.getMinutes();
              var hoy = new Date();
              var m = new Array();
              var d = new Array()
              var an= hoy.getYear();
              m[0]="Jan";  m[1]="febreaury";  m[2]="March";
              m[3]="April";   m[4]="May";  m[5]="Jun";
              m[6]="July";    m[7]="August";   m[8]="September";
              m[9]="Ocotober";   m[10]="November"; m[11]="December";
              document.write("Time is: "+hrs+":"+min+" (");
              document.write(hoy.getDate());
              document.write(" of ");
              document.write(m[hoy.getMonth()]);
              document.write(")");
            }
          </script>
      <!-- DATE -->
        <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.0-rc.2/angular.js" data-semver="1.4.0-rc.2"></script>
        <script data-require="jquery@2.1.3" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="app.js"></script>
        <title>Requests</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style.css">
      </head>

<body ng-controller="MainCtrl">
  <div class="container">
    <h1 class="h1">Requests</h1><script>setHour()</script>
    <hr />
    <div class="row">
      <div class="col-md-8">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Make a request</h3>
          </div>
          <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                  <label for="created">Created by: </label>
                  <input #description type="text" class="form-control" id="created" 
                  placeholder="Please fill with your name" ng-model='transaction.created' required>
                </div>
   
                <!-- START THE FORM -->
              <select class="form-control" ng-model="transaction.status">
                <option value='approved'>Approved</option>
                <option value='denied'>Denied</option>
                <option value='pending'>Pending</option>
              </select>
              <button type="submit" class="btn btn-success" 
              ng-click="saveTransaction()">SUBMIT</button>
            </form>
          </div>
        </div>
        <hr />
        <strong>Search your move in time: </strong>
        <input type="search" class="form form-control" placeholder="Search" ng-model="searchText">
        <hr />
       <!-- SORT BY TYPE -->
        <p>
          <strong>Sort Transactions by:</strong>
          <select ng-model="transType" class="form-control">
            <option value=''>All</option>
            <option value='approved'>Approved</option>
            <option value='denied'>Denied</option>
            <option value='pending'>Pending</option>
          </select>
        </p>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr class="info">
              <th>Title</th>
              <th>Status</th>
              <th>Created</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <!-- SEARCH SECTION -->
            <tr ng-repeat="row in transactionList | filter: transType | filter: searchText "
            ng-style="{backgroundColor: row.status === 'denied' ? 'coral' : 'transparent'}">
              <td ng-bind="row.title | uppercase"></td>
              <td ng-bind="row.status | uppercase" ></td>
              <td ng-bind="row.created | uppercase"></td>
              <td ng-bind="row.date | date : format"></td>
            </tr>
          </tbody>
        </table>
        
        <hr />
      </div>
    </div>
  </div>

</body>
</html>
